<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Keeper App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
  <div class="container">
    <div class="row">
         <!--main content area-->
        <div class="col-md-8">
            <!-- <img src="logo.png" class="responsive"> -->
            <div class="card mb-4">
                <h2 class="card-header" id="fileName">Book Title</h2>
                <div class="card-body">
                    <div class="displayBox scroll-box" id="fileContent">
                      <%=fileData %>
                    </div>
                </div>
            </div>                  
        </div>
        <!--sidebar content-->
        <div class="col-md-4">
             <!--search widget-->
             <div class="card my-4">
                <h5 class="card-header">Search</h5>
              <div class="card-body">
                  <div class="input-group">
                      <input type="text" class="form-control" id="keyword" placeholder="Search for...">
                      <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button">Search</button>
                      </span>
                  </div>
              </div>
              <div class="card-footer" id="searchstat">

              </div>
             </div>
             <!--Select a book widget-->
             <div class="card my-4">
                 <h5 class="card-header">Select a Book</h5>
                 <div class="card-body">
                     <div class="row">
                         <div class="col-md-12">
                           <form action="/" method="POST">
                          <input list="books" name="book" id="book">
                          <datalist id="books">
                            <option value="HP">
                            <option value="ABC">
                            <option value="XYZ">
                            </datalist>
                            <button type="submit">Submit</button>
                            </form>
                         </div>
                     </div>
                 </div>
             </div>
             <!--Most used words-->
             <div class="card my-4">
                 <h5 class="card-header">Most Used Words</h5>
                 <div class="card-body">
                     <div class="row">
                         <div class="col-md-12">
                             <ul class="list-unstyled mb-0" id="mostUsed">

                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
             <!--Least used words-->
             <div class="card my-4">
                <h5 class="card-header">Least Used Words</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-unstyled mb-0" id="leastUsed">
                                
                            </ul>
                        </div>
                    </div>
                </div>
             </div>
             <!--document stats-->
             <div class="card my-4">
                <h5 class="card-header">Document Stats</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-unstyled mb-0">
                                <li id="doclength"></li>
                                <li id="wordcount"></li>
                                <li id="charcount"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/stringsearch.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<!---- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>-->
  </body>
</html>
